<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.florian.leapeat" >

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >
        <activity
            android:name="com.example.florian.leapeat.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.florian.leapeat.ScreenService"
            android:enabled="true"
            android:label="LepeatBackground" >
        </service>

        <activity
            android:name="com.example.florian.leapeat.LearnActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.example.florian.leapeat.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.example.florian.leapeat.QuizActivity"
            android:label="@string/title_activity_quiz" >
        </activity>
        <activity
            android:name="com.example.florian.leapeat.EveryTimeActivity"
            android:label="@string/title_activity_every_time" >
        </activity>
        <activity
            android:name="com.example.florian.leapeat.VocoClockActivity"
            android:label="@string/title_activity_voco_clock" >
        </activity>
    </application>

</manifest>
